@charset "UTF-8";

/* 定版心 */
.w {
    width: 1200px;
    margin: auto;
}
li {
    list-style: none;
}
body {
    background-color: #f3f5f7;
}
a {
    text-decoration: none;
}
button {
    border: none;
}
/* 清除浮动 */
.clear-fix::after {
    content: "";
     display: block;
     clear: both;
     /* 兼容旧浏览器 */
     height: 0;
     /* 兼容旧浏览器 */
     visibility: hidden;
}
.clear-fix {
    /* 兼容IE6~7浏览器 */
    *zoom: 1;
}


/* header部分 */

.header {
    height: 42px;
    margin: 30px auto;
}
.logo {
    float: left;
    margin-right: 60px;
}
.nav {
    float: left;
}
.nav ul li {
    float: left;
}
.search {
    float: left;
    margin-left: 70px;
}

.nav ul li a {
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    margin-right: 20px;
    font-size: 18px;
    color: #050505;
    text-decoration: none;
}
    
.nav ul li a:hover {
    border-bottom: 2px solid #00a4ff;
}

.search input {
    float: left;
    width: 340px;
    height: 40px;
    border: 1px solid #00a4ff;
    padding-left: 20px;
    color: #ccc;
    border-right: 0;
}

.search button {
    float: left;
    width: 50px;
    height: 42px;
    background: url('./images/btn.png');
}
/*  方法1：标准流，行内盒子的垂直居中！！！！！*/
/* .user {
    float: left;
    height: 42px;
    margin-left: 30px;
    line-height: 42px;
    font-size: 0;
    color: #666;
}
.user img{
    vertical-align: middle;
}
.user span {
    vertical-align: middle;
    margin-left: 10px;
    font-size: 14px;
} 
//标签元素，父元素一定要有内容
<div class="user">x
    <img src="images/user.jpg" alt="">
    <span>rose-jack</span>
</div>
*/

/*方法2：绝对定位，父相子绝，垂直居中  */
.user {
    float: left;
    position: relative;
    height: 42px;
    width: 140px;
    margin-left: 30px;
    line-height: 42px;
    color: #666;
}
.user img{
    position: absolute;
    bottom: 0;
    top: 0;
    margin: auto;
}
.user span {
    position: absolute;
    right: 30px;
    bottom: 0;
    top: 0;
    margin: auto;
}

.banner {
    height: 420px;
    background: #1c036c url('./images/banner2.jpg') no-repeat top center;
}

.subnav {
    float: left;
    width: 150px;
    height: 420px;
    padding: 0 20px;
    background-color: rgba(0,0,0,0.3);
    color: #fff;
}
.subnav li {
    height: 45px;
    line-height: 45px;
}
.subnav li a {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}
.subnav li a:hover {
    color: #00b4ff;
}
.subnav a span {
    float: right;
}

.course {
    float: right;
    width: 228px;
    height: 300px;
    margin-top: 50px;
    background-color: #fff;
}
.course-hd {
    height: 48px;
    background-color: #9bceea;
    font-size: 18px;
    line-height: 48px;
    text-align: center;
    color: #fff;
    font-weight: 700;
}
.course-bd {
    /* 注意：没有设置宽度的盒子，设置了padding不会撑开盒子 ！！！ */
    padding: 0 15px;
}
.course-bd ul{
    padding-top: 10px;
}
.course-bd li {
    margin-top: 10px;
    height: 50px;
    border-bottom: 1px solid #ccc;
}
.course-bd li h4 {
    font-size: 14px;
    color: #4e4e4e;
}
.course-bd li p {
    font-size: 12px;
    color: #a5a5a5;
}

.course-bd .all {
    display: block;
    height: 38px;
    margin-top: 10px;
    border: 1px solid #00a4ff;
    line-height: 38px;
    text-align: center;
    color: #00a4ff;;
}
.all:hover {
    background-color: #00a4ff;
    color: #fff;
}

/* 父盒子设置height=line-height，继承给所有的子盒子 */
.goods {
    height: 60px;
    background-color: #fff;
    margin-top: 10px;
    line-height: 60px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

.goods h3 {
    float: left;
    margin: 0 30px;
    font-size: 16px;
    color: #00a4ff;
}
.goods .goods-item {
    float: left;
    color: #bfbfbf;
}
.goods .goods-item  a {
    margin: 0 30px; 
    font-size: 15px;
    color: #050505;
    
}
.goods .mod {
    float: right;
    margin-right: 30px;
    font-size: 14px;
    color: #00a4ff;
}

.box {
    margin-top: 15px;
}
.box-hd {
    height: 60px;
    line-height: 60px;
}
.box-hd h3 {
    float: left;
    font-size: 20px;
    color: #494949;
    /* 取消粗体 */
    font-weight: normal;
}
.box-hd a {
    float: right;
    margin-right: 30px;
    font-size: 12px;
    color: #a5a5a5;
}
/* 这个盒子高度动态 */
.box-bd {
    /* margin-right负值之美 */
    margin-right: -15px;
}
.box-bd li {
    position: relative;
    float: left;
    width: 228px;
    height: 270px;
    margin-right: 15px;
    margin-top: 15px;
    background-color: #fff;
    box-shadow: 2px 2px 2px rgba(0,0,0,.2);
}

.box-bd img {
    width: 100%;
}
.box-bd .hot {
    position: absolute;
    top: 0;
    right: -4px;
    width: 40px;

}
.box-bd h4 {
    margin: 20px;
    font-size: 14px;
    font-weight: 400;
    color: #050505;
}
.box-bd p {
    margin: 20px;
    font-size: 12px;
    color: #999;
}

.box-bd p span {
    color: orange;
}
.footer {
    height: 385px;
    padding-top: 30px;
    margin-top: 30px;
    background-color: #fff;
}
.copyright {
    float: left;
}
.copyright p {
    font-size: 12px;
    color: #666;
    margin: 20px 0 15px 0;
}
.copyright .app {
    display: block;
    width: 118px;
    height: 34px;
    border: 1px solid #00a4ff;
    text-align: center;
    line-height: 34px;
    font-size: 16px;
    color: #00a4ff;

}

.links {
    float: right;
}
.links dl {
    float: left;
    margin-left: 100px;
}
.links dt {
    height: 35px;
    font-size: 16px;
    color: #333;
}

.links dd a {
    font-size: 12px;
    color: #333;
}

.links dd a:hover {
    color: #00a4ff;
}

.fixedbar {
    position: fixed;
    top: 200px;
    left: 50%;
    width: 180px;
    height: 420px;
    margin-left: -790px;
    background-color: red;
}