@charset "UTF-8";
/* 将清除浮动单独封装起来 */
.clear-fix::after {
    content: "";
    display: block;
    clear: both;
    /* 兼容旧浏览器 */
    height: 0;
    /* 兼容旧浏览器 */
    visibility: hidden;
}
.clear-fix {
    /* 兼容IE6~7浏览器 */
    *zoom: 1;
}
