.main {
    width: 980px;
    height: 455px;
    margin-left: 219px;
    margin-top: 10px;
}

.main .focus {
    position: relative;
    width: 720px;
    height: 455px;
    background-color: #f00;
}
.main .newsflash {
    width: 250px;
    height: 455px;
}

.arrow-l,
.arrow-r {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 24px;
    height: 40px;
    background-color: rgba(0, 0, 0, .3);
    text-align: center;
    line-height: 40px;
    color: #fff;
}
.arrow-r {
    right: 0;
}
.circle {
    position: absolute;
    bottom: 10px;
    left: 50px;
}
.circle li {
    float: left;
    width: 8px;
    height: 8px;
    margin: 0 3px;
    border: 1px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}

.circle .current {
    background-color: #fff;
}
.newsflash .news {
    height: 163px;
    border: 1px solid #ccc;
}

.news-hd {
    height: 32px;
    border-bottom: 1px dotted #ccc;
    padding: 0 15px;
    font-size: 14px;
    line-height: 32px;
}
.news-hd a {
    float: right;
}
.news-bd {
    padding: 10px 0 0 15px;
}
.news-bd li {
    height: 23px;
}
.newsflash .lifeservices {
    height: 208px;
    border: 1px solid #ccc;
    border-top: none;
    overflow: hidden;
}
.lifeservices ul {
    margin-right: -4px;
}
.lifeservices li {
    position: relative;
    float: left;
    width: 62px;
    height: 70px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.lifeservices li a {
    display: block;
    overflow: hidden;
    height: 100%;
}
.lifeservices li p {
    text-align: center;
}
.lifeservices .service-ico {
    display: block;
    width: 24px;
    height: 24px;
    margin: 10px auto;
    background: url(../img/icons.png) no-repeat;
}
.lifeservices .hot {
    position: absolute;
    right: 0;
    top: 0;
    width: 12px;
    height: 15px;
    background: url(../img/jian.jpg) no-repeat;
}
.lifeservices .service-icon-huafei {
    background-position: -17px -16px;
}
.lifeservices .service-icon-feiji {
    background-position: -76px -16px;
    width: 26px;
    height: 26px;
}
.newsflash .bargain {
    height: 75px;
    margin-top: 5px;
}

.recommend {
    height: 163px;
    margin-top: 10px;
}
.recommend .recom-hd {
    float: left;
    width: 200px;
    height: 163px;
    background-color: #5c5251;
    text-align: center;
}
.recom-hd img {
    margin-top: 30px;
    margin: 30px 0 10px 0 ;
}
.recommend h3 {
    font-size: 18px;
    font-weight: normal;
    color: #fff;
}
.recommend .recom-bd {
    float: left;
    width: 1000px;
    height: 163px;
    background-color: #ebebeb;
}
.recom-bd li {
    float: left;
    width: 249px;
    height: 145px;
    margin-top: 10px;
    border-right: 1px solid #ccc;
}
.recom-bd .last {
    border-right: none;
}

.floor .box-hd {
    height: 30px;
    background-color: #f00;
    border-bottom: 2px solid #c81623;
}