.sk {
    position: absolute;
    top: 40px;
    left: 185px;
    padding: 5px 0 0 15px;
    height: 32px;
    border-left: 1px solid #b1191a;
}
.sk-list li{
    float: left;
    margin: 0 30px;
    line-height: 45px;
}
.sk-list li a{
    font-size: 16px;
    color: #000;
    font-weight: 700;
}

.sk-list li a:hover {
    color: #c81523;
}
.sk-con li {
    float: left;
    line-height: 45px;
    margin: 0 20px;
}

.sk-con li a {
    font-size: 14px;
    font-weight: 700;
    font-family: 'icomoon';
}
.sk-bd {
    margin-top: 20px;
}

.sk-goods {
    width: 288px;
    height: 458px;
    border: 1px solid #c81523;
}