@charset "UTF-8";

/* 用于存放公共的样式 */

/* 块级标签内容水平居中 */
.row {
    width: 1090px;
    margin: 0 auto;
    position: relative;
}

/* 区分左边右边，浮动 */
.left {
    float: left;
}
.right {
    float: right;
}

/* 设置精灵图片,伪类、伪元素要单独抽取出来 */
.cmp, 
.site-nav .download-app::before,
.site-nav .service::after {
    background: url("../images/component.png"); 
}

/* 设置聚焦文字颜色 */
a {
    color: #333;
}
a:hover {
    color: #b4a078;
}