@charset "UTF-8";

body {
    background-color: #fff;
    /* 网页默认字体 */
    font-size: 12px;
}
/* 网页导航 */
.site-nav {
    height: 36px;
    background-color: #333;
    line-height: 36px;
}
.site-nav a {
    font-size: 12px;
    color: #ccc;
}

.site-nav .slogan {
    float: left;
    margin-right: 30px;
}
.site-nav .notice-list {
    float: left;
    background: url("../images/notice-icon.gif") no-repeat left center;
    height: 36px;
    padding-left: 26px;
    overflow: hidden;
}
.site-nav .notice-list a {
    vertical-align: top;
    text-decoration: underline;
    color: #b4a078;
}
.site-nav .notice-list a:hover {
    text-decoration: underline; 
    color: #fff;
}
.site-nav .item {
    float: left;
}
.site-nav .login {
    margin-right: 20px;
}
.site-nav .divider {
    /* 定位 */
    float: left;
    /* 盒子模型 */
    width: 1px;
    height: 16px;
    margin: 10px 10px 0;
    /* 其他 */
    background-color: #5c5c5c;
}
.site-nav .download-app::before {
    content: "";
    display: inline-block;
    width: 7px;
    height: 11px;
     /* 抽取到common.css 的cmp属性中 */
    /* background: url("../images/component.png") no-repeat 0 0; */
    background-position: 0 0;
    margin-right: 6px;
}

.site-nav .service::after {
    content: "";
    display: inline-block;
    /* 定位 */
    width: 11px;
    height: 5px;
    margin-left: 10px;
    
    /* background: url("../images/component.png") no-repeat 0 -321px; */
    background-position: 0 -321px;
    vertical-align: middle;
}
.site-nav .service:hover::after {
    transform: rotate(180deg);
}

/* 功能导航 */
.func-nav {
    /* height: 204px; */
    /* 设置阴影 */
    box-shadow: 0 0 30px 0 rgba(0,0,0,.2);
    /* 
    定位元素，才能使用z-index，
    要比main层高，才能显示出阴影，默认被main覆盖住了阴影
     */
    position: relative;
    z-index: 1;

}
.func-nav .row {
    /* 清除浮动 */
    height: 204px;
}

.func-nav .logo {

    /* 
    块级标签水平居中,margin-top会传递给父元素，因此采用绝对定位
    为何不用父控件设置padding-top？设置padding会扩大盒子
     */
    /* margin: 50px auto 0; */
    
    /* 参照物为最近的父类定位元素，此时为.row, row已经设置为relative */
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;

    width: 180px;
    height: 60px;

     /* 抽取到common.css 的cmp属性中 */
    /* background: url("../images/component.png") no-repeat 0 -146px; */
    background-position: 0 -146px;
}
.func-nav .logo a {
    display: block;
    height: 60px;
    /* 字体隐藏 */
    font-size: 0;
}

.func-nav .shop-car {
    position: absolute;
    right: 9px;
    top: 65px;
    width: 34px;
    height: 32px;
}

/* car/count的参照物为最邻近的定位祖先元素，父元素shop-car为定位元素，所以参照物就是它 */

/* 购物车、红点都相对于付元素定位 */
.func-nav .shop-car .car {
    /* 定位 */
    position: absolute;
    /* 左下角 */
    left: 0;
    bottom: 0;

    /* 盒子 */
    width: 23px;
    height: 23px;

    /* 其他 */
    /* background: url("../images/component.png") no-repeat 0 -113px; */
    background-position: 0 -113px;
   
}

.func-nav .shop-car:hover .car {
    background-position: 0 -80px;
}
.func-nav .shop-car .count {
    /* 定位 */
    position: absolute;
    right: 0;
    top: 0;

    /* 盒子 */
    width: 19px;
    height: 19px;

    /* 文字 */
    color: #fff;
    text-align: center;
    font-size: 12%;
    line-height: 19px;

    /* 其他 */
    /* background: url("../images/component.png") no-repeat 0 -51px; */
    background-position: 0 -51px;

}

/* 整个搜索框控件 */
.func-nav .search {
    position: absolute;
    top: 75px;
    right: 60px;
}

.func-nav .search input {

    width: 252px;
    height: 22px;
    line-height: 22;
    border: none;

    font-size: 12px;
    color: #333;
    border-bottom: 1px solid #d8cebc;
}
/* 相对于父元素定位 */
.func-nav .search .placeholder {
    position: absolute;
    top: 5px;
    left: 2px;

    color: #999;
}

.func-nav .search .button {
    float: right;
    width: 20px;
    height: 20px;
    /* 其他 */
    /* background: url("../images/component.png") no-repeat 0 -291px; */
    background-position: 0 -291px;
    cursor: pointer;

}

.func-nav .search .button:hover {
    background-position: 0 -261px;
}

.func-nav .tab-nav {
    /* 固定底部*/
    position: absolute;
    bottom: 10px;
    /* background-color: #f00; */
    width: 100%;
    margin-bottom: 10px;
}
.func-nav .tab-nav .item {
    height: 23px;
    float: left; 
    margin: 0 24px;
    font-weight: 700;
    font-size: 14px;
}
/* 设置下划线与文字举例 */
.func-nav .tab-nav .item a {
    display: block;
    padding-bottom: 5px;
}

.func-nav .tab-nav .item:hover a,
.func-nav .tab-nav .item.selected a {
    color: #b4a078;
    border-bottom: 2px solid #b4a078;
}
/* 左边分割线 */
.func-nav .tab-nav .divider {
    float: left;
    width: 1px;
    height: 20px;
    background-color: #ccc;
}

/* main部分 */

/* 轮播图,设置图片始终保持居中显示 */
.slider {
    overflow: hidden;
    position: relative;
}
.slider .image-list {
   position: relative; 
   left: -960px;
   margin-left: 50%;

   height: 420px;
}
.slider .image-list li {
    position: absolute;
    left: 0;
    top: 0;
}

/* 上下翻页按钮 */
.slider .pre {
    left: 150px;
}

.slider .next {
    right: 150px;
}

/* 页码指示器 */
.slider .page-list {
    position: absolute;
    bottom: 10px;
    width: 400px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}
.slider .page-list li {
    display: inline-block;
    margin-right: 10px;
    /* li垂直方向居中 */
    vertical-align: middle;
}
.slider .page-list button {
    display: block;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    border: none;
    cursor: pointer;
    background-color: #bfbbba;
}
.slider .page-list button:hover,
.slider .page-list .active button
{
    box-shadow: 0 0 0 4px #dfcead;
    border: 2px solid #b4a078;
    background-color: transparent;
}

.brand {
    margin-top: 30px;
}

.brand .item {
    position: relative;
    float: left;
    text-align: center;
    color: #666;
    overflow: hidden;
}
.brand .item img {
    position: absolute;
    left: 0;
    top: 0;
}
.brand .item .name {
    font-size: 24px;
    margin: 48px 0 19px;
    font-weight: normal;
}

.brand .item .price {
    display: inline-block;
    border-top: 1px solid #666;
    padding-top: 17px;
}

.brand .item .name,
.brand .item .price {
    position: relative;
    z-index: 1;
}
.brand .large {
    width: 357px;
    height: 320px;
    margin-right: 9px;
}
.brand .small {
    width: 357px;
    height: 155px;
    text-align: left;
}

.brand .small .name {
    margin: 32px 0 10px 20px;
    font-size: 20px;
}

.brand .small .price {
    margin-left: 20px;
    padding-top: 10px;
    font-size: 14px;
}
.brand .last{
    margin-top: 10px;
}

/* 新品首发 */
.new-products {
    margin-top: 60px;
    padding-bottom: 60px;
}

.new-products .product{
    width: 265px;
    margin-right: 10px;
}
.new-products .content {
    /* background-color: #0f0; */
    /* 巧妙使用!!!! */
    margin-right: -10px;
}

.new-products .pre {

    left: -70px;
}
.new-products .next{
    right: -70px;
}

.new-products .product .image-box {
    width: 265px;
    height: 265px;
}
.new-products .product .cover {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
.new-products .product:hover .cover{
    display: block;
}
.new-products .product:hover {
    background-color: #f4f0ea;
    box-shadow: 1px 1px 8px rgba(0,0,0,.2);
}


/* 人气推荐 */

.popular {
    padding: 60px 0;
    background-color: #f4f0ea;
}
.popular .rank {
    float: left;
    padding-left: 13px;
    margin-top: 13px;
    font-size: 14px;
    line-height: 1;
}

.popular .rank a {
    float: left;
    width: 70px;
    height: 28px;
    margin-right: 55px;

    font-size: 14px;
    line-height: 28px;
    text-align: center;
}

.popular .rank .active {
    border-bottom: 2px solid #b4a078;
    color: #b4a078;;
}

.popular .content {
    margin-right: -10px;
}
.popular .product {
    background-color: #fff;
    margin-right: 10px;
    height: 260px;
    margin-bottom: 10px;
    
}
.popular .product.large  {
    height: 530px;
}
.popular .product.large .image-box {
    width: 390px;
    height: 390px;
    margin-bottom: 18px;
}

.popular .product .image-box {
    width: 223px;
    height: 180px;
    border-bottom: 1px solid #f4f0ea;
    text-align: center;
}
.popular .product.large .image-box img {
    margin-top: 40px;
}
.popular .product.large .name {
    margin-top: 7px;
    margin-bottom: 13px;
    font-size: 18px;
}

.popular .product.large .price {
    padding-bottom: 10px;
    font-size: 13px;
    line-height: 1;
}

/* 限时购 */
.limit {
    margin-top: 58px;
}

.limit .time {
    float: left;
    background: url("../images/time-bg.jpg") ;
    width: 224px;
    height: 377px;
    text-align: center;
}

.limit .time .title {
    height: 36px;
    margin-bottom: 11px;
    margin-top: 60px;

    line-height: 36px;
    font-size: 28px;
    color: #615548;
}
.limit .time .divider {
    display: inline-block;
    width: 20px;
    height: 2px;
    margin-bottom: 18px;
    background-color: #61594b;
    
} 
.limit .time .subtitle {
    margin-bottom: 18px;
    height: 22px;
    font-size: 18px;
    line-height: 22px;
    color: #61594b;
}

.limit .time .time-ditail {
    height: 40px;
    line-height: 40px;
    margin-bottom: 50px;
}

.limit .time .time-ditail .detail {
   display: inline-block;
   border-radius: 2px;
   width: 40px;
   height: 40px;

   font-size: 18px;
   color: #fff;
   background-color: #615548;

}

.limit .time .time-ditail .colon {
    font-weight: 700;
    padding: 0 2px;
    color: #333;
}

.limit .time .veiw-all {
    display: inline-block;
    width: 110px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    color: #fff;
    font-size: 14px;
    background-color: #a7936e;

}

.limit .item {
    float: left;
    height: 187px;
    width: 432px;
    border: 1px solid #f0ece4;
    border-left: none;

}

.limit .item.list-line {
    /* 解决边框重合问题 */
    /* border-top: none; */
    border-top: -1px;
}
.limit .progress-bar {
    float: left;
    position: relative;
    margin-left: 40px;
    margin-top: 40px;
    border-radius: 5px;
    width: 152px;
    height: 10px;
    border: 1px solid #f2cecd;
    overflow: hidden;
}
.limit .progress-bar .value {
    position: absolute;
    left: 0;
    top: 0;
    /* width: 100px; */
    height: 10px;
    background-color: #ffe5e5;
}

/* 居家 */
.topic {
    margin-top: 60px;
}
.topic .cate-list {
    float: right;
    padding-top: 14px;
}
.topic .cate-list li {
    float: left;
    font-size: 14px;
    line-height: 1;
}

.topic .cate-list li::before {
    content: "/";
    margin: 0 10px;
}
.topic .cate-list li:first-child::before {
    display: none;
}
.topic .banner {
    display: block;
    height: 310px;
    margin-bottom: 20px;
}
.topic .content {
    margin-right: -10px;
}
.topic .product {
    width: 265px;
    margin-right: 10px;
}
.topic .product .image-box {
    width: 265px;
    height: 265px;
}
.topic .product .image-box img {
    background-color: #f4f4f4;
}

/* 评论模块 */
.commnents {
    margin-top: 60px;
    padding: 60px 0;
    background-color: #f4f0ea;
}
.commnents .content {
    margin-right: -12px;
}
.commnents .item {
    position: relative;
    float: left;
    width: 355px;
    height: 492px;
    margin-right: 12px;
    background-color: #fff;

}
.commnents .item .image {
    width: 355px;
    height: 355px;
    display: block;
    overflow: hidden;
}
.commnents .arrow-btn.pre {
    left: -70px;
}
.commnents .arrow-btn.next {
    right: -70px;
}
.commnents .info {
    position: absolute;
    bottom: 0;
    width: 305px;
    height: 130px;
    padding: 15px;
    background-color: #fff;
    left: 0;
    right: 0;
    margin: 0 auto;
}

/* footer部分 */
.footer1 {
    height: 204px;
    padding-top: 60px;
    padding-bottom: 34px;
    border-top: 1px solid #e8e8e8;
}

.footer1 .col {
    float: left;
    height: 80px;
    width: 33.33333%;
    box-sizing: border-box;
}
.footer1 .service {
    /* background-color: #f00; */
}
.footer1 .service a {
    display: inline-block;
    width: 80px;
    height: 30px;
    padding-top: 70px;
    border: 1px solid #000;
    text-align: center;
    font-size: 14px;
    background: url("../images/service.png") no-repeat center 20px;
}
.footer1 .service a:hover {
    background-image: url("../images/service2.png");
}
.footer1 .what {
    /* background-color: #ff0; */
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;;
}
.footer1 .download {
    /* background-color: #0f0; */
}